{% extends 'base.html' %} {% block stylesheet %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/attraction.css') }}"
/>
{% endblock %} {% block content %}

<div class="attraction-container">
  <div class="carousel-container">
    <div class="img-container">
      <img />
    </div>
    <div class="button-left"></div>
    <div class="button-right"></div>
    <div id="dot-container"></div>
  </div>

  <div class="profile">
    <div class="name"></div>
    <div class="info">
      <span class="category"></span>
      &#160;at&#160;
      <span class="mrt"></span>
    </div>
    <form id="booking-form">
      <div class="booking-title-1">訂購導覽行程</div>
      <div class="booking-title-2">
        以此景點為中心的一日行程，帶您探索城市角落故事
      </div>
      <div class="booking-date">
        <div class="booking-title-3">選擇日期：</div>
        <input type="date" id="date-input" required />
      </div>
      <div class="booking-time">
        <div class="booking-title-3">選擇時間：</div>
        <input
          type="radio"
          id="morning"
          name="select-time"
          value="morning"
          checked
        />
        <label for="morning" class="morning">上半天</label>
        <input
          type="radio"
          id="afternoon"
          name="select-time"
          value="afternoon"
        />
        <label for="afternoon" class="afternoon">下半天</label>
      </div>
      <div class="booking-fee">
        <div class="booking-title-3">導覽費用：</div>
        <div id="tour-fee"></div>
      </div>
      <button id="start-booking">開始預約行程</button>
    </form>
  </div>
</div>

<hr />

<div class="text-container">
  <div class="description text" id="description"></div>

  <div class="title">景點地址：</div>
  <div class="address text" id="address"></div>

  <div class="title">交通方式：</div>
  <div class="transport text" id="transport"></div>
</div>
{% endblock %} {% block body_script %}
<script src="{{ url_for('static', filename='js/attraction.js') }}"></script>
{% endblock %}
